
.chatInput {
    background-color: var(--input-background-color);
}
.emoji-wrapper {
    background-color: var(--input-background-color);
}
.chat-body {
    background-color: var(--chat-bubble-background-color);
}
.ownMessage {
    background-color: var(--chat-bubble-background-color);
}
.unreadMessage {
    background-color: var(--undone-background-color);
}